<div class="page-container">
  <app-background></app-background>

  <div class="login-background"></div>

  <div class="login-container">
    <h1 class="login-title">Sign In</h1>

    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" name="none" />
        <mat-error *ngIf="name.hasError('required')">
          It is required field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" type="text" name="none" />
        <mat-error *ngIf="name.hasError('required')">
          It is required field
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>
    </form>

    <div class="user-signup-info">
      <span>
        New to Netflix?
        <a class="sign-up-now" routerLink="/register">Sign up now.</a>
      </span>
      <span
        >This page is protected by Google reCAPTCHA to ensure you're not a bot.
        <a class="learn-more" href="http://">Learn more.</a></span
      >
    </div>
  </div>
</div>
