<div class="home-container">
  <app-background></app-background>
  <div class="hero-container">
    <!-- <div class="hero-background"></div> -->
    <div class="hero-content">
      <h1>Unlimited Moives, TV Shows, and more.</h1>
      <h2>Watch anywhere. Cancel Anytime.</h2>
      <h3>
        Ready to watch? Enter your email to create or restart your membership.
      </h3>
      <form action="" class="email-container">
        <input type="text" class="email-input" />
        <button class="email-button">Get Started ></button>
      </form>
    </div>
  </div>
  <div class="rows-container">
    <div class="row">
      <div class="left-content">
        <div class="description-container right-margin">
          <h1>Enjoy on your TV.</h1>
          <p>
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV,
            Blu-ray players, and more.
          </p>
        </div>
      </div>
      <div class="right-content">
        <div class="img-content-container left-margin">
          <div class="vid-content-container">
            <video
              autoplay=""
              playinline=""
              muted=""
              loop=""
              height="50%"
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
            ></video>

            <div class="hometv-container">
              <img
                height="85%"
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-content">
        <div class="img-content-container right-margin">
          <div class="phone-container">
            <img
              height="75%"
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
              alt=""
            />

            <div class="download-rectangle-container">
              <img
                height="90%"
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
                alt=""
              />
              <div class="download-description">
                <h1 class="movie-title">Stranger Things</h1>
                <p class="downloading-text">Downloading...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="description-container left-margin">
          <h1>Download your shows to watch offline.</h1>
          <p>
            Save your favorites easily and always have something to watch.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-content">
        <div class="description-container right-margin">
          <h1>Watch everywhere.</h1>
          <p>
            Stream unlimited movies and TV shows on your phone, tablet,
            laptop, and TV without paying more.
          </p>
        </div>
      </div>
      <div class="right-content">
        <div class="img-content-container left-margin">
          <div class="vid-content-container">
            <video
              class="apple-screen"
              autoplay=""
              playinline=""
              muted=""
              loop=""
              height="40%"
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
            ></video>

            <div class="tv-set-container">
              <img
                height="85%"
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
