<div class="card">
  <div class="card-content" gloww>
    <div class="img-container" *ngIf="!loadingState">
      <img class="movie-img" src="{{ baseImgUrl + movieImage }}" alt="" />
    </div>
    <div class="movie-info" *ngIf="!loadingState">
      <div class="title">
        <h3>
          {{
            movieTitle.length > 15
              ? (movieTitle | slice : 0 : 15) + "..."
              : movieTitle
          }}
        </h3>
      </div>
      <div class="date-rate">
        <div>
          {{ releaseDate }}
        </div>
        <div>
          {{ voteAverage }}
        </div>
      </div>
      <div class="more-options">
        <!-- <button gloww class="more-btn" routerLink="/MovieDetails/{{movieId}}"><h3>View Info</h3></button> -->
        <button gloww class="more-btn" (click)="showMore(movieId)"><h3>View Info</h3></button>
      </div>
    </div>
    <div class="spinner" *ngIf="loadingState">
      <mat-spinner aria-label></mat-spinner>
    </div>
  </div>
</div>
