.card {
    height: 50vh;
    width: 100%;
    // background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-content {
    height: 90%;
    width: 90%;
    background-color: rgb(75, 83, 60);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container {
    height: 50%;
    width: 100%;

}

.movie-info {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}