<div class="page-container">
  <app-background *ngIf="!loadingState"></app-background>

  <div class="login-background" *ngIf="!loadingState"></div>

  <div class="login-container" *ngIf="!loadingState">
    <h1 class="login-title">Sign In</h1>

    <form
      [formGroup]="form"
      action=""
      class="login-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-inputs-container">
        <!-- <input type="text" class="text-input" /> -->
        <mat-form-field class="example-full-width" class="example-full-width">
          <mat-label>Email or phone number</mat-label>

          <input
            type="email"
            matInput
            [formControl]="userEmail"
            [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com"
            class="input-box"
          />

          <mat-hint>Enter Email</mat-hint>

          <mat-error
            *ngIf="
              userEmail.hasError('userEmail') && !userEmail.hasError('required')
            "
            class="validator-color"
          >
            Please enter a valid email address
          </mat-error>

          <mat-error
            *ngIf="userEmail.hasError('required')"
            class="validator-color"
          >
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- <input type="text" class="text-input" /> -->
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>

          <input
            type="password"
            matInput
            [formControl]="password"
            [errorStateMatcher]="matcher"
            placeholder="Password"
          />

          <mat-hint>Enter Password</mat-hint>

          <mat-error
            *ngIf="
              password.hasError('password') && !password.hasError('required')
            "
            class="validator-color"
          >
            Please enter password.
          </mat-error>

          <mat-error
            *ngIf="password.hasError('required')"
            class="validator-color"
          >
            Please enter a valid password. Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="submit-container">
        <button class="submit-btn" type="submit">
          <h3>Sign In</h3>
        </button>
        <div class="login-options">
          <span>
            <input type="checkbox" name="Remember me" id="" />
            Remember me
          </span>
          <h4>Need help?</h4>
        </div>
      </div>
    </form>

    <div class="user-signup-info">
      <span>
        New to Netflix?
        <a class="sign-up-now" routerLink="/register">Sign up now.</a>
      </span>
      <span
        >This page is protected by Google reCAPTCHA to ensure you're not a bot.
        <a class="learn-more" href="http://">Learn more.</a></span
      >
    </div>
  </div>
  <div class="spinner" *ngIf="loadingState">
    <ngx-spinner
      size="large"
      template="<img src='../../../../../assets/Spin-0.9s-201px.svg'>"
      [fullScreen]="true"
      bdColor="rgba(36, 4, 4, 1)"
    ></ngx-spinner>
  </div>
</div>
