<div class="home-container">
  <app-background></app-background>
  <div class="hero-container">
    <!-- <div class="hero-background"></div> -->
    <div class="hero-content">
      <h1>Unlimited Moives, TV Shows, and more.</h1>
      <h2>Watch anywhere. Cancel Anytime.</h2>
      <h3>
        Ready to watch? Eanter your email to create or restart your membership.
      </h3>
      <form action="" class="email-container">
        <input type="text" class="email-input" />
        <button class="email-button">Get Started ></button>
      </form>
    </div>
  </div>
  <div class="info_slides-container">
    <div class="info_slide">
      <div class="info_slide_content">
        <div class="imagee">Image</div>
        <h3 class="slide-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          consequuntur, iste beatae quos nam iure quam dicta sit tenetur sint.
          Ratione fugit, non autem eum aspernatur eos magni dolorum libero!
        </h3>
      </div>
    </div>

    <div class="info_slide">
      <div class="info_slide_content">
        <div class="imagee">Image</div>
        <h3 class="slide-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          consequuntur, iste beatae quos nam iure quam dicta sit tenetur sint.
          Ratione fugit, non autem eum aspernatur eos magni dolorum libero!
        </h3>
      </div>
    </div>
  </div>
</div>
