.navbar-container {
  height: 4vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  height: 100%;
  width: 20%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container a {
  text-decoration: none;
  color: red;
}

.menu-container {
  height: 100%;
  width: 10%;
  // background-color: blue;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.signup-button {
    border-width: 0;
    background-color: red;
    color: white;
    height: 2rem;
    width: 4rem;

    border-radius: .1rem;
}

.username-button {
  background-color: rgb(150, 40, 40);
  color: rgb(40, 194, 71);
  box-shadow: 5px 10px 40px 20px #b10000;
  border-color: red;
  height: 2rem;
  width: auto;

  border-radius: .1rem;
  border-width: thin;
  border-style: solid;
}