<div class="movieList">
  <div class="movieList-contianer">
    <div class="cards">
      <div *ngFor="let movie of movies$ | async">
        <!-- <div class="card">
          <div class="card-content">
            {{ movie.backdrop_path }}
            {{ movie.title }}
          </div>
        </div> -->
        <app-movie-item baseImgUrl={{this.baseImgUrl}} movieimage={{movie.backdrop_path}} movietitle={{movie.title}}/>
      </div>
    </div>
  </div>

  <!-- <div *ngFor="let configs of moviesConfig$ | async">
        {{configs}}
    </div> -->
</div>
