<div class="movie-detail-page">
  <img
    src="{{ this.baseImgUrl_Cover + this.movie.backdrop_path }}"
    alt="background"
    class="background-img"
  />
  <div class="main-container">
    <div class="left-detail" *ngIf="!playerState">
      <div class="movie-img-container">
        <img
          src="{{ baseImgUrl_Cover + this.movie.poster_path }}"
          alt="background"
          class="movie-img"
        />
      </div>
      <div class="button-selections">
        <button gloww class="btn-style" (click)="toggleYoutube(!playerState)">
          <h3>Trailer</h3>
        </button>
      </div>
      <div class="release-date-container">
        <h1>Release Date: {{ this.movie.release_date }}</h1>
      </div>
      <div class="genres-container">
        <div *ngFor="let genere of genres">
          {{ genere.name }}
        </div>
      </div>
    </div>
    <div class="right-detail" *ngIf="!playerState">
      <div class="title-container">
        <div class="opacity-layer"></div>
        <h1 class="title-content">
          {{ this.movie.original_title }}
        </h1>
      </div>
      <div class="overview-container">
        <h3>
          {{ this.movie.overview}}
        </h3>
      </div>
      <div class="producers-container">
        <div class="cards">
          <div *ngFor="let producer of producers" class="producer-card">
            <img src="{{ baseImgUrl_Producers + producer.logo_path }}" alt="" />
            <h6>
              {{ producer.name }}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="youtube-component" *ngIf="playerState">
      <div class="navigation">
        <button class="youtube-btns" (click)="toggleYoutube(!playerState)">
          <h3>Close</h3>
        </button>
      </div>
      <div class="youtube-container">
        <button class="youtube-btns" (click)="moveLeft()"><h3>Left</h3></button>
        <app-youtube [videoId]="trailerIds[trailerIndex]"></app-youtube>
        <button class="youtube-btns" (click)="moveRight()">
          <h3>Right</h3>
        </button>
      </div>
    </div>
  </div>
</div>
